@model List<LabInventory.ViewModels.InventoryViewModel>

@{
    ViewData["Title"] = "Inventory List";
}

<h2>Product List</h2>
<a asp-action="CreateInventory" class="btn btn-success mb-3">Create New Product</a>
<a asp-controller="Order" asp-action="CreateOrder" class="btn btn-primary mb-3">Create New Order</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Weight(kg)</th>
            <th>Buy Price AUD/Product</th>
            <th>Sell Price BDT/Product</th>
            <th>Action</th>      
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Inventory.Name</td>
                <td>@item.Inventory.Quantity</td>
                <td>@item.Inventory.Weight</td>
                <td>@item.ItemBuyPrice</td>
                <td>@item.ItemSellPrice</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Inventory.id" class="btn btn-primary btn-sm">Edit</a>
@*                     <form asp-action="Delete" asp-route-id="@item.Inventory.id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form> *@
                </td>
            </tr>
        }
    </tbody>
</table>
